
estruturaBasica/.bundle/config
estruturaBasica/.eslintrc.js
estruturaBasica/.node-version
estruturaBasica/.prettierrc.js
estruturaBasica/.watchmanconfig
estruturaBasica/__tests__/App-test.tsx
estruturaBasica/android/app/build.gradle
estruturaBasica/android/app/debug.keystore
estruturaBasica/android/app/debug.keystore
estruturaBasica/android/app/proguard-rules.pro
estruturaBasica/android/app/src/debug/AndroidManifest.xml
estruturaBasica/android/app/src/debug/java/com/estruturabasica/ReactNativeFlipper.java
estruturaBasica/android/app/src/main/AndroidManifest.xml
estruturaBasica/android/app/src/main/java/com/estruturabasica/MainActivity.java
estruturaBasica/android/app/src/main/java/com/estruturabasica/MainApplication.java
estruturaBasica/android/app/src/main/res/drawable/rn_edit_text_material.xml
estruturaBasica/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
estruturaBasica/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
estruturaBasica/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
estruturaBasica/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
estruturaBasica/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
*.png
estruturaBasica/android/app/debug.keystore
estruturaBasica/android/app/src/main/res/values/strings.xml
estruturaBasica/android/app/src/main/res/values/styles.xml
estruturaBasica/android/app/src/release/java/com/estruturabasica/ReactNativeFlipper.java
estruturaBasica/android/build.gradle
estruturaBasica/android/gradle.properties
estruturaBasica/android/gradle/wrapper/gradle-wrapper.jar
estruturaBasica/android/gradle/wrapper/gradle-wrapper.properties
estruturaBasica/android/gradlew
estruturaBasica/android/gradlew.bat
estruturaBasica/android/settings.gradle
estruturaBasica/app.json
estruturaBasica/App.tsx
estruturaBasica/babel.config.js
estruturaBasica/Gemfile
estruturaBasica/ios/.xcode.env
estruturaBasica/ios/estruturaBasica.xcodeproj/project.pbxproj
estruturaBasica/ios/estruturaBasica.xcodeproj/xcshareddata/xcschemes/estruturaBasica.xcscheme
estruturaBasica/ios/estruturaBasica/AppDelegate.h
estruturaBasica/ios/estruturaBasica/AppDelegate.mm
estruturaBasica/ios/estruturaBasica/Images.xcassets/AppIcon.appiconset/Contents.json
estruturaBasica/ios/estruturaBasica/Images.xcassets/Contents.json
estruturaBasica/ios/estruturaBasica/Info.plist
estruturaBasica/ios/estruturaBasica/LaunchScreen.storyboard
estruturaBasica/ios/estruturaBasica/main.m
estruturaBasica/ios/estruturaBasicaTests/estruturaBasicaTests.m
estruturaBasica/ios/estruturaBasicaTests/Info.plist
estruturaBasica/ios/Podfile
estruturaBasica/metro.config.js
estruturaBasica/package-lock.json
estruturaBasica/package.json
estruturaBasica/tsconfig.json
